.monMenu{
    padding-top: 10px;
    background-color: #000000;
   }
   
   .monMenu li{
    display: inline;
    padding: 10px;
   }
   
   .monMenu li a:hover{
    color: #369512;
   }
   
   .monMenu a{
     color : #FFFFFF;
   }